input[type="number"]{
    width: 14%;
}

input[type="date"], input[type="number"], textarea, select {
    color: red;
    margin-bottom: 4px;
}

select {
    width: 16%;
}

label {
    margin-bottom: 4px;
}

hr {
    width: 50%;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(250, 250, 244);
    color: blue;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 700px;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
}
    
.div1 {
    grid-area: 1 / 1 / 2 / 2; 
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3;
    float: left;
}
.div3 {
    grid-area: 2 / 1 / 3 / 2;
}
.div4 {
    grid-area: 2 / 2 / 3 / 3;
    float: left;
}
.div5 {
    grid-area: 3 / 1 / 4 / 2;
}
.div6 {
    grid-area: 3 / 2 / 4 / 3;
    float: left;
}
.div7 {
    grid-area: 4 / 1 / 5 / 2;
}
.div8 {
    grid-area: 4 / 2 / 5 / 3;
    float: left;
}
.div9 {
    grid-area: 5 / 1 / 6 / 2;
}
.div10 {
    grid-area: 5 / 2 / 6 / 3;
    float: left;
}
.div11 {
    grid-area: 6 / 1 / 7 / 2;
}
.div12 {
    grid-area: 6 / 2 / 7 / 3;
    float: left;
}